@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
        <h1 class="display-4">Pagos y colegiaturas UDLAP</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@

<section class="wow fadeIn padding-20px-bottom bg-light-gray p-0">
    <div class="container-fluid padding-30px-bottom">
        <div class="spacer-150"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-12 col-md-12 md-margin-50px-bottom sm-margin-30px-bottom">
                <h3 class="alt-font text-extra-dark-gray font-weight-600 text-center font-poppins">
                    Pagos y Colegiaturas
                </h3>
                <span class="separator-line-horrizontal-medium-light2 bg-deep-naranja d-table mx-auto width-100px"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid padding-40px-all">
        <div class="row justify-content-center">

            <div class="col-xs-6 col-sm-6 col-lg-3 col-md-4 team-block text-left team-style-1 margin-40px-bottom md-margin-seven-bottom sm-margin-30px-bottom wow fadeInRight">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-md-10 p-0">

                        <ul class="p-0 list-style-6 font-poppins">
                            <li><a href="pagosnuevoingreso" class="c-link-orange">Pagos nuevo ingreso</a></li>
                            <li><a href="pagosreingreso.aspx" class="c-link-orange">Pagos reingreso</a></li>
                            <li><a href="formasdepago.aspx" class="c-link-orange">Formas de pago</a></li>
                            <li><a href="fechasdepago.aspx" class="c-link-orange">Fechas de pago</a></li>
                            <li><a href="planesdepago.aspx" class="c-link-orange">Planes de pago</a></li>
                            <li><a href="costosycuotas.aspx" class="c-link-orange">Costos y cuotas</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3 col-md-4 team-block text-left team-style-1 md-margin-seven-bottom margin-40px-bottom sm-margin-30px-bottom wow fadeInRight"
                 data-wow-delay="0.2s">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-md-10 p-0">
                        <ul class="p-0 list-style-6 font-poppins">
                            <li><a href="facturacion.aspx" class="c-link-orange">Facturación</a></li>
                            <li><a href="retiroUDLAP.aspx" class="c-link-orange">Retiro UDLAP</a></li>
                            <li><a href="reembolsos.aspx" class="c-link-orange">Reembolsos</a></li>
                            <li><a href="udlaplife.aspx" class="c-link-orange">UDLAP Life</a></li>
                            <li><a href="ubicacion.aspx" class="c-link-orange">Ubicación</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="spacer-50"></div>
</section>

<section class="wow fadeIn padding-60px-tb md-padding-40px-tb bg-deep-naranja">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 position-relative text-center">
                <span class="c-font-35 text-white-2 alt-font d-inline-block margin-5px-top margin-30px-right sm-no-margin-right sm-no-margin-top sm-margin-15px-bottom sm-width-100 font-poppins"
                      style="line-height: 150%">¿Tienes <strong>dudas</strong>?</span>
                <div class="spacer-20"></div>
                <a href="#"
                   class="btn btn-white btn-medium align-top sm-no-margin-right btn-rounded">Contáctanos <i class="fas fa-desktop"></i></a>
            </div>
        </div>
    </div>
</section>